---
import Layout from '@layouts/Layout.astro';
import { siteConfig } from '@utils/infoSite.jsx';
import ShareButtons from '@components/ShareButtons.jsx';

const { links } = siteConfig;
const { parrafo, rostro } = siteConfig.assets;
---

<Layout title="LinkTree - Movapp" description="LinkTree - Movapp" type="website">
   <img src={rostro} alt="rostro" class="max-w-56" />
   <img src={parrafo} alt="parrafo" class="mb-8 max-w-72" />

   <div class="w-full max-w-8xl mx-auto mt-2 flex flex-col gap-10 px-3">
      <!-- Links Section -->
      <div class="w-full space-y-6">
         {
            links.map((link) => {
               return (
                  <a
                     href={link.url}
                     target="_blank"
                     rel="noopener noreferrer"
                     class="flex h-12 w-full justify-center items-center bg-transparent hover:bg-transparent py-4 px-8 rounded-lg transition-all duration-200 shadow-none backdrop-blur-none border-none outline-none"
                     style="background:transparent;box-shadow:none;"
                  >
                     <img
                        src={link.image}
                        alt={link.name + ' logo'}
                        class={`w-auto max-w-xs mx-auto transition-transform duration-300 hover:-translate-x-1 ${link.name === 'Official Web' ? 'h-4' : 'h-4'}`}
                     />
                  </a>
               );
            })
         }
      </div>

      <div class="w-full flex flex-col items-center space-y-2">
         <div class="w-full max-w-lg">
            <ShareButtons client:load url={siteConfig.url} />
         </div>
      </div>
      <!-- Footer Image -->
      <img src={siteConfig.assets.footer} alt="footer" class="mx-auto mt-2 w-28" />
   </div>
   <style>
      a:hover img {
         animation: wiggle 0.4s ease-in-out;
      }
      @keyframes wiggle {
         0% {
            transform: translateX(0);
         }
         20% {
            transform: translateX(-4px);
         }
         40% {
            transform: translateX(4px);
         }
         60% {
            transform: translateX(-2px);
         }
         80% {
            transform: translateX(2px);
         }
         100% {
            transform: translateX(0);
         }
      }
   </style>
</Layout>
